<h1>Vue Test Page</h1>

<div id="exp1-app">

    <h2>{{ exp1.state.title }}</h2>

    <p>Counter: {{ exp1.state.count }}</p>

    <button v-on:click="exp1.increment">Increment</button>
    <button v-on:click="exp1.decrement">Decrement</button>

    <hr>

    <h3>Add User</h3>

    <input v-model="exp1.state.newUserName" placeholder="User name" />
    <button v-on:click="exp1.addUser">Add User</button>

    <p>Total Users: {{ exp1.userCount }}</p>

    <ul>
        <li v-for="user in exp1.state.users" :key="user.id">
            {{ user.name }}
            <button v-on:click="exp1.removeUser(user.id)">Delete</button>
        </li>
    </ul>

</div>